<!DOCTYPE html>
<html>
<head>
    <title>Express Demo App</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Express Demo App</h1>
<p>Welcome to Express</p>
<div>
    <a href="/users">Get Users List</a>
    <a href="/users/sign-up">Add New User</a>
</div>
</body>
</html>
