<!DOCTYPE html>
<html>
<head>
    <title>Express Demo App</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Express Demo App</h1>
<p>Welcome to Express</p>
<br/>
<h2><%= title %></h2>
<div>
    <span><%= message %></span>
    <a title="please click for more" href="<%= link %>">For More</a>
</div>
<div>
</div>
</body>
</html>
